@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');


/* 1. Tell Tailwind v4 to generate classes from these variables */
:root{
  --color-semadata-green: #489c8c;
  --color-semadata-dark: #367a6d;
}

/* 2. Your font imports */

/* 3. Global Styles */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}